
<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="list-group container-fluid">
    <a href="#" 
      class="list-group-item clearfix" 
      *ngFor="let recipe of recipes">
        <div class="float-left">
          <i-file-text class="float-left align-self-start mr-2"></i-file-text>
              <h5 class="mt-0 mb-2">{{ recipe.name }}</h5>
              <p>{{ recipe.description }}</p>
        </div>
      <img [src]="recipe.imagePath" 
        alt="{{ recipe.name }}" 
        class="img-fluid rounded ml-2 float-right" 
        style="max-height: 50px;">
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

